<div class="box box-primary" *ngIf="authService.isLoggedIn()">
  <div class="box-header">
    <i class="ion ion-clipboard"></i>

    <h3 class="box-title">To Do List</h3>

    <div class="box-tools pull-right">
      <ul class="pagination pagination-sm inline">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ul class="todo-list" *ngFor="let a of Todo_list">
      <li>
        <!-- drag handle -->
        <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
        <!-- checkbox -->
        <input type="checkbox" value="">
        <!-- todo text -->
        <span class="text">{{a.title}}</span>
        <!-- Emphasis label -->
        <small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>
        <small class="label label-info"><i class="fa fa-clock-o">3</i> </small>
        <!-- General tools such as edit or delete-->
        <div class="tools">
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash-o"></i>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix no-border">
    <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Add item</button>
  </div>
</div>
